
@{
    ViewBag.Title = "TakipIlet";
    Layout = "~/Views/Shared/_LayoutMudur.cshtml";
}

<h2>TakipIlet</h2>

<div class="container">
    <div class="jumbotron">
        @using (Html.BeginForm("TakipIlet", "Mudur", FormMethod.Post))
        {
            <select id="selectPer" name="selectPer">
                @foreach (var p in ViewBag.personeller)
                {
                    <option value="@p.personelId">@p.personelAd</option>
                }

            </select>
            <br />
            <button type="submit" class="btn btn-primary">Getir</button>
        }

    </div>

</div>